{% if current_user.is_authenticated %}

{% extends 'base.html' %}

{% block title %}
    <title>Удаленные пароли</title>
{% endblock %}

{% block body %}

<script src="/static/js/modal_for_share.js"></script>
<script src="/static/js/modal_for_details.js"></script>
<script src="/static/js/encode_decode.js"></script>


<div class="container-fluid" style="height: 55px; overflow-y: scroll">
  <table class="table table-bordered m-0">
    <thead class="container">
      <tr>
        <th scope="col" style="padding-left:15px;width:5%">#</th>
        <th scope="col" style="width:10%">
            <form method="GET">
                <div class="form-group">
                    <input type="text" placeholder="Логин" class="form-control" name="q_login"  value="{{ request.args.get('q_login', '') }}">
                </div>
            </form>
        </th>
        <th scope="col" style="width: 15%">
            <form method="GET">
                <div class="form-group">
                    <input type="text"   placeholder="Адрес" class="form-control" name="q_url"  value="{{request.args.get('q_url', '')}}">
                </div>
            </form>
        </th>
        <th scope="col"  style="width:38%" >
            <form method="GET">
                <div class="form-group">
                    <input type="text" placeholder="Описание" class="form-control" name="q_definition"  value="{{request.args.get('q_definition', '')}}">
                </div>
            </form>
        </th>
        <th scope="col" style="width:10%">Пароль</th>
        <th scope="col" style="width:8%">
            <form method="GET">
                <div class="form-group">
                    <input type="text" placeholder="Тэг" class="form-control" name="q_tag"  value="{{request.args.get('q_tag', '')}}">
                </div>
            </form>
        </th>
        <th scope="col" style="width:6%; text-align:center;">Удалено</th>
        <th scope="col" style="width:8%; text-align:right;">Восстановить</th>
      </tr>
    </thead>
  </table>
</div>



  <div class="container-fluid"   style="height: 84vh; overflow: scroll;">
    <table class="table table-bordered">
      <tbody>
        {% for system in systems.items %}
        <tr>
          <td style="width:5%">{{ system.system_id }}</td>

          <td  class="btn-table  openmodel" style="width:10%;" data-params='{
              "title": "{{system.name}}",
              "inputShareIdValue": "{{system.id}}",
              "inputIdValue": "{{system.id}}",
              "inputLoginValue": "{{system.login}}",
              "inputUrlValue": "{{system.url}}",
              "inputNameValue": "{{system.name}}",
              "inputPasswordValue": "{{system.password}}",
              "inputDefinitionValue": "{{system.definition}}",
              "inputTagsValue": "{{system.tags}}",
              "inputShareIDValue": "{{system.id}}"
              }'>
            <p class="fulltext" style=" text-align:center; width: 100%"> {{ system.login }} </p>
          </td>

          <td style="width: 15%">
              <input type="text" style="text-align:center; display: flow-root;" class="passtextcopy form-control"  value="{{ system.url }}">
          </td>

          <td class="btn-table  openmodel" data-params='{
              "title": "{{system.name}}",
              "inputIdValue": "{{system.id}}",
              "inputLoginValue": "{{system.login}}",
              "inputUrlValue": "{{system.url}}",
              "inputNameValue": "{{system.name}}",
              "inputPasswordValue": "{{system.password}}",
              "inputDefinitionValue": "{{system.definition}}",
              "inputShareIDValue": "{{system.id}}"
              }'>
            <p style="width:38%" > {{ system.definition }} </p>

            <td style="width:10%" id="value">
                <div class="form-group">
                    <input type="text" style="width:180px; display: flow-root;" class="form-control passtext passtextcopy"  value="{{system.password}}">
                </div>
            </td>

            <td style="width: 8%;">{{ system.tags }}</td>
            <td style="width: 6%;">{{ system.datetime }}</td>
            <td style="width:8%"> <a href="restorepass_{{system.system_id}}" class="btn btn-success"> Восстановить </a> </td>
        </tr>
            <!--  #ТЕЛО сaйта конец -->
{% endfor %}
     </tbody>
    </table>
  </div>
<!--Модалка для "Подробнее"-->

<div class="modal_normal ">
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <form   method="POST" action="/update_system">
                    <p class="modal-title">Заголовок модалки</p>
                    <input value="random" class="modal-input form-control" id="modal-input-login" name="modal-input-login"/><br>
                    <input value="random" class="modal-input form-control" id="modal-input-url" name="modal-input-url"/><br>
                    <input value="random" class="modal-input form-control" id="modal-input-name" name="modal-input-name"/><br>
                    <input value="random" class="modal-input form-control passtext" id="modal-input-password" name="modal-input-password"/><br>
                    PassGen:
                        <label style="cursor:pointer;"><input id="arr_num" type="checkbox" >0-9</label>
                        <label style="cursor:pointer;"><input id="arr_en" type="checkbox" checked > A-Z</label>
                        <label style="cursor:pointer;"><input id="arr_symb" type="checkbox" checked> @*#</label>
                        <input id="passLenght" type="number" step="1" min="8" max="20" value="10" />
                        <p>
                            <button class="btn btn-outline-secondary" type="button" id="pass_start" name="modal-input-password" >Passgen</button>
                        </p>
                    <input value="random" class="modal-input form-control" id="modal-input-definition" name="modal-input-definition"/><br>
                    <input value="random" class="modal-input form-control" id="modal-input-tags" name="modal-input-tags"/><br>
                    <button type="submit" class="modal-input btn btn-outline-primary" style="width:100px; height:40px" value="Обновить" id="modal-input-id" name="modal-input-id">Обновить</button>
                </form>
            </div>

        <div class="col-4">
                <form   method="POST" action="/share">
                    <select class="form-select" name="usersShare" id="usersShareDesc" multiple style="height: 262px;max-width: 300px;margin-top:24px">
                        {% for user in users%}
                            <option value="{{user.id}} ">{{user.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <h6>ID системы, которую вы пошарите сейчас:</h6>
                    <input type="text" value="random" class="modal-input-share form-control" name="modal-input-shareID" id="modal-input-shareIDDesc"/><br>
                    <input  class="btn btn-outline-primary" type="submit" value="Submit" id="inputSysNumDesc">

                </form>
            </div>
      </div>
      </div>
</div>
<!--Модалка для "Поделиться"-->
        <div class="modal_normal_share" style="max-width: 1000px;">
            <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
            <form   method="POST" action="/share">
                <div class="box" style="max-width: 1000px;">
                    <div class="row align-items-center">
                        <p class="modal-title-share">Заголовок модалки</p>
                        <div class="col-3" style="margin-left:0;">

                            <select class="form-select" name="usersShare" id="usersShare" multiple style="height: 450px;max-width: 300px;">
                            {% for user in users%}
                                <option value="{{user.id}} ">{{user.name}}</option>
                            {% endfor %}
                            </select>

                        </div>
                    </div>
                    <br>
                    <h6>ID системы, которую вы пошарите сейчас:</h6>
                    <input type="text" value="random" class="modal-input-share form-control" name="modal-input-shareID" id="modal-input-shareID"/><br>
                    <input class="btn btn-outline-primary" type="submit" value="Submit" id="inputSysNum" >
                </div>
            </form>
        </div>

<script>
let arr_num = [1, 2, 3, 4, 5, 6, 7, 8, 9];
let arr_en = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
let arr_symb = ['!', '@', '#', '$', '%', '?', '-', '+', '=', '~'];

const compareRandom = ( ) => Math.random() - 0.5;

const randomInteger = ( min, max ) => Math.round(min - 0.5 + Math.random() * (max - min + 1));
const inputPassword = document.getElementById('modal-input-password')
function generatePassword() {
    let arr = [];
    if (document.querySelector('#arr_num').checked) arr = arr.concat(arr_num);
    if (document.querySelector('#arr_en').checked) arr = arr.concat(arr_en);
    if (document.querySelector('#arr_symb').checked) arr = arr.concat(arr_symb);

    arr.sort(compareRandom);

    let password = '';
    let passLenght = document.querySelector('#passLenght').value;

    for (let i = 0; i < passLenght; i++) {
        password += arr[randomInteger(0, arr.length - 1)];
    }
    inputPassword.value = btoa(password);

}

document.querySelector('#pass_start').addEventListener('click', generatePassword);
</script>
<footer>
{% if systems.has_prev %} <a href="{{ url_for('main.index', page = systems.prev_num) }}"><< Предыдущая</a>{% else %}<< Предыдущая{% endif %} |
{% if systems.has_next %} <a href="{{ url_for('main.index', page = systems.next_num) }}">Следующая >></a>{% else %}Следующая >>{% endif %}
</footer>
{% endblock %}

{% endif %}
