{% extends 'base.html' %}

{% block title %}
    <title>Поделиться</title>
{% endblock %}

{% block body %}
<div class="container" style="max-width:800px;">
  <p></p>
    <form   method="post">
      <h3>ID пользователя</h3>
      <input type="text" class="form-control" name="id" id="user_id" list="character"><br>
        <datalist id="character">
            {% for user in users%}
                <option value="{{ user.id }}">{{user.name}}</option>
            {% endfor %}
        </datalist>
        <h3>ID Системы</h3>
        <input type="text" class="form-control" name="name" id="system_id" value="{{system_id}}" placeholder="ID"><br>
        <button class="btn btn-success" type="submit">Поделиться</button>
    </form>
</div>

{% endblock %}
{% block footer %}

<div class="container">
    <footer class="fixed-bottom">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <p class="text-center text-muted">© 2022 PyKeeper</p>
    </footer>
</div>

{% endblock %}